.about-us {
  .container();
  position: relative;
  margin-bottom: 31px;
  text-align: left;

  @media @tablet-widths {
    width: 676px;
    margin-bottom: 61px;
    padding: 3px 46px 0;
    text-align: right;
  }

  @media @desktop-widths {
    width: 1220px;
    margin-bottom: 122px;
    padding: 9px 73px 0;
  }
}

.about-us__title {
  .titles();
  margin-bottom: 17px;
  text-align: center;

  @media @tablet-widths {
    margin-bottom: 3px;
    text-align: left;
  }

  @media @desktop-widths {
    margin-bottom: 11px;
  }
}

.about-us picture {
  position: absolute;
  top: 52px;
  left: 22px;

  @media @tablet-widths {
    top: 0;
    right: 46px;
  }

  @media @desktop-widths {
    right: 145px;
  }
}

.about-us__image {
  width: 156px;
  height: 155px;

  @media @tablet-widths {
    width: 313px;
    height: 311px;
  }

  @media @desktop-widths {
    width: 509px;
    height: 510px;
  }
}

.about-us__wrapper {
  @media @tablet-widths {
    padding-right: 345px;
    text-align: left;
  }

  @media @desktop-widths {
    margin-bottom: 3px;
    padding-right: 635px;
  }
}

.about-us__topic {
  margin: 0;
  margin-bottom: 3px;
  font-family: @font-slogan;
  font-size: 22px;
  line-height: 26px;
  color: @font-slogan-color;

  @media @tablet-widths {
    margin-bottom: 9px;
    font-size: 26px;
    line-height: 28px;
  }

  @media @desktop-widths {
    margin-left: -3px;
    margin-bottom: 1px;
    font-size: 35px;
    line-height: 43px;
    font-weight: 400;
  }
}

.about-us__slogan {
  display: block;
  margin-bottom: 5px;
  font-family: @font-circe;
  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: @font-normal-color;

  @media @tablet-widths {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.1px;
  }

  @media @desktop-widths {
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0;
  }
}

.about-us__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: @font-circe;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: @font-normal-color;

  @media @desktop-widths {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 24px;
  }
}

.about-us__cite {
  position: relative;
  margin: 0;
  padding: 58px 0 60px;
  text-align: center;
  font-family: @font-playfairdisplay;
  font-size: 13px;
  font-weight: 700;
  font-style: italic;
  line-height: 16px;
  color: @font-normal-color;

  &::before {
    content: "\201d";
    position: absolute;
    top: 3px;
    left: 43%;
    font-family: @font-playfairdisplay;
    font-size: 60px;
    font-weight: 800;
    line-height: 88px;
    font-style: normal;
    color: #fffefe;
  }

  &::after {
    content: "";
    position: absolute;
    width: 64px;
    height: 31px;
    bottom: 10px;
    left: 38%;
    background: url("../img/about-us/about-us-signature-mobile.png") no-repeat;
  }

  @media @tablet-widths {
    order: 2;
    padding: 47px 170px 68px 167px;
    font-size: 14px;
    line-height: 20px;

    &::before {
      top: -4px;
      left: 46%;
      font-size: 77px;
      line-height: 77px;
    }

    &::after {
      width: 82px;
      height: 40px;
      bottom: 0;
      left: 44%;
      background: url("../img/about-us/about-us-signature-tablet.png") no-repeat;
    }
  }

  @media @desktop-widths {
    padding: 180px 270px 117px 265px;
    font-size: 25px;
    line-height: 38px;

    &::before {
      top: 81px;
      left: 47%;
      font-size: 140px;
      line-height: 140px;
    }

    &::after {
      width: 149px;
      height: 73px;
      background: url("../img/about-us/about-us-signature-desktop.png") no-repeat;
    }
  }
}
