.form__decorate-wrapper {
  display: flex;
  flex-direction: column;

  @media @tablet-widths {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 5px;
  }

  @media @desktop-widths {
    padding-left: 0;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 5px;
  font-family: @font-playfairdisplay;
  font-size: 22px;
  line-height: 28px;
  color: @font-normal-color;

  @media @tablet-widths {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 40px;
  }

  @media @desktop-widths {
    margin-bottom: 4px;
    padding-left: 0;
    font-size: 27px;
    line-height: 66px;
  }
}

.form__type-wrapper {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  border: none;
  text-align: center;

  @media @tablet-widths {
    margin-bottom: 0;
    margin-right: 19px;
    text-align: left;
  }

  @media @desktop-widths {
    margin-right: 83px;

    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.form__type-name {
  margin: 0;
  margin-bottom: 7px;
  font-family: @font-slogan;
  font-size: 20px;
  line-height: 20px;
  color: @mark-color;

  @media @tablet-widths {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 18px;
  }

  @media @desktop-widths {
    font-size: 27px;
    line-height: 30px;
  }
}

.form__select {
  width: 100%;
  padding: 1px 0 4px 55px;
  border-radius: 15px;
  font-family: @font-circe;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @font-normal-color;

  @media @tablet-widths {
    width: auto;
    padding: 5px 0 4px 23px;
    font-size: 12px;
    line-height: 18px;
  }

  @media @desktop-widths {
    width: 250px;
    padding: 3px 0 4px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid @font-normal-color;
    font-size: 18px;
    line-height: 30px;
  }
}

.form__type-wrapper:nth-child(2) .form__select {
  @media @desktop-widths {
    width: 137px;
  }
}

.form__btn {
  margin: 17px 0 9px;

  @media @tablet-widths {
    margin: 0;
    margin-left: auto;
    padding: 10px 41px;
    font-size: 10px;
    line-height: 22px;
  }

  @media @desktop-widths {
    padding: 13px 63px;
    font-size: 13px;
    line-height: 26px;
  }
}
