.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-nav__item {
  text-align: center;
  background-color: @bg-main-nav;
  border-bottom: @border-main-nav;

  &--active {
    text-align: left;
    background-color: @bg-main-nav-active;
  }
}

.main-nav__item a {
  display: inline-block;
  padding: 12px 0 9px 0;
  font-family: @font-circe;
  font-size: 12px;
  line-height: 18px;
  color: @font-main-nav-color;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__item--active a {
  padding: 9px 0 6px 19px;
  font-family: @font-playfairdisplay;
  font-size: 16px;
  line-height: 24px;
  color: @font-normal-inner-color;
  text-transform: none;
  letter-spacing: 1px;
}

.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  display: block;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: @bg-main-nav-active;
  cursor: pointer;
  border: none;

  @media @tablet-widths {
    display: none;
  }
}

.main-nav--close .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000,
  0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -2px;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--close .main-nav__item {
   @media @mobile-widths-only {
     display: none;
   }
}

.main-nav--close .main-nav__item--active {
  @media @mobile-widths-only {
    display: block;
    border-bottom: none;
  }
}

.main-nav--close .main-nav__item--active a{
  padding-bottom: 7px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__item {
   display: block;
}

.main-nav--nojs .main-nav__item--active {
  padding-left: 0;
  text-align: center;
}

.main-nav--nojs .main-nav__item--active a{
  padding-left: 0;
}
