.order {
  .container();
  margin-bottom: 30px;
}

.order__title {
  .titles();
  margin-bottom: 7px;
  word-spacing: 4px;

  @media @tablet-widths {
    margin-bottom: 0;
  }
}

.order__slogan {
  margin: 0;
  margin-bottom: 19px;
  font-family: @font-slogan;
  font-size: 22px;
  line-height: 26px;
  color: @font-slogan-color;

  @media @tablet-widths {
    margin-bottom: 23px;
    font-size: 26px;
    line-height: 42px;
  }
}

.order__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 16px 20px 24px;
  text-align: left;
  background-color: #ffffff;

  &--decoration {
    margin-bottom: 0;
  }

  &--result {
    padding: 13px 25px 24px 15px;
  }

  @media @tablet-widths {
    flex-direction: row;
    padding: 40px 46px 49px;
    margin-bottom: 21px;
  }
}

.order__type {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
  padding-left: 42px;
  font-family: @font-playfairdisplay;
  font-size: 16px;
  line-height: 24px;
  color: @mark-color;

  &::before {
    position: absolute;
    top: -8px;
    left: 0;
    font-family: @font-playfairdisplay;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: @mark-color;
  }

  &--filling::before {
    content: "01";
  }

  &--size::before {
    content: "02";
  }

  &--decoration::before {
    content: "03";
  }

  @media @tablet-widths {
    width: 128px;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 31px;
    font-size: 18px;
    line-height: 18px;

    &::before {
      top: -9px;
      left: -3px;
      font-size: 36px;
      line-height: 36px;
    }
  }
}

.order__list {
  width: 241px;
  min-height: 297px;

  @media @tablet-widths {
    width: 510px;
    min-height: 259px;
  }
}

.order__dots {
  top: 120px;
  left: 62px;

  &--size {
    top: 184px;
    left: 99px;
  }

  &--decoration {
    top: 213px;
    left: 96px;
  }

  @media @tablet-widths {
    display: none;
  }
}

.order__counter {
  top: 92px;
  right: 8px;
  font-family: @font-circe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: white;

  &--decoration {
    top: 187px;
    right: 47px;
    color: @font-order-color;
  }

  @media @tablet-widths {
    margin-left: auto;
    margin-right: 26px;
    font-size: 10px;
    line-height: 20px;
    color: @font-order-color;
  }
}

.order__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--size {
    text-align: center;
  }

  @media @tablet-widths {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 13px;
  }
}

.order__text {
  display: flex;
  flex-direction: column;

  @media @tablet-widths {
    margin-left: 25px;
    padding-top: 22px;
    padding-right: 65px;
  }
}

.order__image {
  width: 241px;
  height: 113px;
  margin-bottom: 37px;

  &--size {
    width: 110px;
    height: 110px;
    margin-top: 31px;
    margin-bottom: 70px;
  }

  &--decoration {
    width: 177px;
    height: 204px;
    margin-top: 8px;
    margin-bottom: 25px;
  }

  @media @tablet-widths {
    width: 210px;
    height: 239px;
    margin-bottom: 0;
  }
}

.order__name {
  margin: 0;
  margin-bottom: 5px;
  font-family: @font-circe;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: @font-order-color;

  &--decoration {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
  }

  @media @tablet-widths {
    font-size: 18px;
    line-height: 22px;
  }
}

.order__description {
  margin: 0;
  margin-bottom: 12px;
  font-family: @font-circe;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @font-order-color;

  @media @tablet-widths {
    margin-bottom: 6px;
  }
}

.order__price {
  align-self: center;
  font-family: @font-playfairdisplay;
  font-size: 18px;
  line-height: 26px;
  color: @font-normal-color;

  @media @tablet-widths {
    align-self: auto;
    font-size: 20px;
    line-height: 30px;
  }
}

.order__btn {
  align-self: center;

  @media @tablet-widths {
    position: absolute;
    bottom: 80px;
    right: 185px;
    padding: 10px 45px;
    font-size: 10px;
    line-height: 22px;
  }
}

.order__wrapper--decoration .order__btn {
  margin-top: 13px;
}
