.order {
  .container();
  margin-bottom: 30px;
}

.order__title {
  .titles();
  margin-bottom: 7px;
  word-spacing: 4px;
}

.order__slogan {
  margin: 0;
  margin-bottom: 19px;
  font-family: @font-slogan;
  font-size: 22px;
  line-height: 26px;
  color: @font-slogan-color;
}

.order__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 16px 20px 24px;
  text-align: left;
  background-color: #ffffff;

  &--decoration {
    margin-bottom: 0;
  }

  &--result {
    padding: 13px 25px 24px 15px;
  }
}

.order__type {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
  padding-left: 42px;
  font-family: @font-playfairdisplay;
  font-size: 16px;
  line-height: 24px;
  color: @mark-color;

  &::before {
    position: absolute;
    top: -8px;
    left: 0;
    font-family: @font-playfairdisplay;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: @mark-color;
  }

  &--filling::before {
    content: "01";
  }

  &--size::before {
    content: "02";
  }

  &--decoration::before {
    content: "03";
  }
}

.order__list {
  width: 241px;
  min-height: 297px;
}

.order__dots {
  top: 120px;
  left: 62px;

  &--size {
    top: 184px;
    left: 99px;
  }

  &--decoration {
    top: 213px;
    left: 96px;
  }
}

.order__counter {
  top: 92px;
  right: 8px;
  font-family: @font-circe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: white;

  &--decoration {
    top: 187px;
    right: 47px;
    color: @font-order-color;
  }
}

.order__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--size {
    text-align: center;
  }
}

.order__text {
  display: flex;
  flex-direction: column;
}

.order__image {
  width: 241px;
  height: 113px;
  margin-bottom: 37px;

  &--size {
    width: 110px;
    height: 110px;
    margin-top: 31px;
    margin-bottom: 70px;
  }

  &--decoration {
    width: 177px;
    height: 204px;
    margin-top: 8px;
    margin-bottom: 25px;
  }
}

.order__name {
  margin: 0;
  margin-bottom: 5px;
  font-family: @font-circe;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: @font-order-color;

  &--decoration {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
  }
}

.order__description {
  margin: 0;
  margin-bottom: 12px;
  font-family: @font-circe;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @font-order-color;
}

.order__price {
  align-self: center;
  font-family: @font-playfairdisplay;
  font-size: 18px;
  line-height: 26px;
  color: @font-normal-color;
}

.order__btn {
  align-self: center;
}

.order__wrapper--decoration .order__btn {
  margin-top: 13px;
}
