.page-header {
  margin-bottom: 50px;
}

.page-header__wrapper {
  .container ();
  background: url("../img/page-header-background.png") no-repeat;
  background-size: 320px auto;
  background-position: center -40px;
}

.page-header__title {
  width: 180px;
  margin: 0 auto;
  font-family: @font-playfairdisplay;
  font-size: 36px;
  line-height: 40px;
  color: @font-normal-color;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.page-header__slogan {
  font-family: @font-slogan;
  font-size: 22px;
  line-height: 26px;
  color: @font-slogan-color;
}

.page-header__features {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.page-header__feature {
  padding-left: 43px;
  padding-bottom: 25px;
  font-family: @font-circe;
  font-size: 14px;
  line-height: 22px;
  color: @font-normal-inner-color;
  text-align: left;

  &:last-child {
    padding-bottom: 0;
  }
}
