.main-nav__item a {
  font-family: @font-circe;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-nav__item--active a {
  font-family: @font-playfairdisplay;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

.page-header__slogan {
  font-family: @font-slogan;
  font-size: 22px;
  line-height: 26px;
}
