.page-footer {
  .container();
  padding-top: 33px;
  background-color: @bg-page-footer;

  @media @tablet-widths {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
  }
}

.page-footer__nav {
  margin-bottom: 4px;

  @media @tablet-widths {
    width: 100%;
    margin-bottom: 25px;
    margin-right: 13px;
  }
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;

  @media @tablet-widths {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}

.page-footer__item {
  margin-bottom: 6px;
  text-align: left;

  &--main {
    margin-bottom: 17px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media @tablet-widths {
    margin-bottom: 0;

    &--main {
      margin-right:  16px;
    }
  }
}

.page-footer__item a {
  font-family: @font-roboto;
  font-size: 14px;
  line-height: 22px;
  color: @font-page-footer-color;
  text-decoration: none;

  @media @tablet-widths {
    font-size: 12px;
  }
}

.page-footer__item--main a {
  font-family: @font-playfairdisplay;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 1px;

  @media @tablet-widths {
    font-size: 18px;
    line-height: 44px;
  }
}

.page-footer__contact {
  margin-bottom: 25px;
  font-family: @font-roboto;
  font-size: 14px;
  line-height: 22px;
  color: @font-page-footer-color;
  text-align: left;

  @media @tablet-widths {
    display: none;
  }
}

.page-footer__copyright {
  position: relative;
  padding: 4px 0 1px;
  font-family: @font-roboto;
  font-size: 12px;
  line-height: 25px;
  color: @font-page-footer-color;
  opacity: 0.5;
  text-decoration: none;
  text-align: left;
  word-spacing: 1px;
  letter-spacing: 1px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  @media @tablet-widths {
    margin-left: 268px;
    padding: 12px 0;

    &::before {
      width: 638px;
      left: -226px;
    }
  }
}
