.reviews {
  .container();

  @media @tablet-widths {
    padding-top: 35px;
    background: url("../img/reviews/reviews-background-left-tablet.png") no-repeat left -9px, url("../img/reviews/reviews-background-right-tablet.png") no-repeat right -9px;
  }

  @media @desktop-widths {
    padding-top: 95px;
    background: url("../img/reviews/reviews-background-left-desktop.png") no-repeat left -2px, url("../img/reviews/reviews-background-right-desktop.png") no-repeat right -2px;
  }
}

.reviews__title {
  .titles();
  margin-bottom: 17px;

  @media @tablet-widths {
    margin-bottom: 22px;
  }
}

.reviews__list {
  min-height: 236px;

  @media @tablet-widths {
    min-height: 277px;
  }

  @media @desktop-widths {
    min-height: 425px;
  }
}

.reviews__dots {
  top: 181px;
  left: 117px;

  @media @tablet-widths {
    display: none;
  }
}

.reviews__counter {
  top: 157px;
  right: 8px;
  font-family: @font-circe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: @mark-color;

  @media @tablet-widths {
    position: absolute;
    top: 149px;
    right: 165px;
  }

  @media @desktop-widths {
    top: 230px;
    right: 240px;
    font-size: 18px;
    line-height: 25px;
  }
}

.reviews__item {
  width: auto;
  margin: 0;
  padding: 0 25px;
  text-align: center;

  @media @tablet-widths {
    display: flex;
    flex-direction: row;
    padding: 0 183px 0 162px;
    text-align: left;
  }

  @media @desktop-widths {
    padding: 0 294px;
  }
}

.reviews__image {
  width: 59px;
  height: 59px;
  display: block;
  margin: 0 auto 3px;

  @media @tablet-widths {
    width: 109px;
    height: 108px;
    margin: 27px 23px 0 0;
  }

  @media @desktop-widths {
    width: 209px;
    height: 209px;
  }
}

.reviews__author {
  display: block;
  margin-bottom: 5px;
  font-family: @font-circe;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: @font-normal-color;

  @media @tablet-widths {
    margin-bottom: 11px;
    font-size: 14px;
  }

  @media @desktop-widths {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }
}

.reviews__author b {
  display: block;
  font-family: @font-circe;
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
  line-height: 18px;
  color: @font-normal-color;

  @media @tablet-widths {
    font-size: 16px;
  }

  @media @desktop-widths {
    margin-bottom: 7px;
    font-size: 27px;
    line-height: 24px;
  }
}

.reviews__text {
  line-height: 15px;

  @media @tablet-widths {
    line-height: 17px;
  }

  @media @desktop-widths {
    padding-top: 25px;
    margin-left: 30px;
  }
}

.reviews__text p {
  display: inline;
  margin: 0;
  font-family: @font-circe;
  font-size: 12px;
  font-weight: 400;
  color: @font-normal-color;

  @media @tablet-widths {
    font-size: 14px;
  }

  @media @desktop-widths {
    letter-spacing: 0.3px;
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__details {
  display: inline;
  font-family: @font-circe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
  color: @mark-color;

  @media @tablet-widths {
    font-size: 14px;
  }

  @media @desktop-widths {
    font-size: 18px;
    line-height: 25px;
  }
}

.reviews__details[open] .reviews__summary {
  display: none;
}

.reviews__summary {
  outline: none;
}

.reviews__summary span {
  text-decoration: underline;
}

.reviews__details > span {
  font-family: @font-circe;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: @font-normal-color;

  @media @tablet-widths {
    font-size: 14px;
  }

  @media @desktop-widths {
    letter-spacing: 0.3px;
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__list .slider__btn {
  display: none;

  @media @tablet-widths {
    display: block;
    top: 51px;

    &--prev {
      left: 70px;
    }

    &--next {
      right: 70px;
    }
  }

  @media @desktop-widths {
    top: 113px;

    &--prev {
      left: 169px;
    }

    &--next {
      right: 178px;
    }
  }
}
