.social {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px 0 0 191px;
  list-style: none;
  font-size: 0;

  &--contacts {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  &--footer {
    flex-direction: row;
    margin-bottom: 30px;
    padding: 0;
  }

  @media @tablet-widths {
    &--about-us {
      order: 1;
      flex-direction: row;
      padding: 0;
    }

    &--contacts {
      justify-content: flex-start;
    }

    &--footer {
      order: 1;
      margin-bottom: 0;
      margin-right: 216px;
    }
  }

  @media @desktop-widths {
    &--about-us {
      padding-bottom: 80px;
    }

    &--footer {
      order: 0;
      margin-right: 0;
    }
  }
}

.social__item {
  position: relative;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 29px;
  }

  &--contacts {
    margin: 0;
  }

  &--footer {
    margin: 0;
    margin-right: 29px;
  }

  &--contacts:last-child {
    margin: 0;
  }

  &--footer:last-child {
    margin: 0;
  }

  @media @tablet-widths {
    &--about-us {
      margin: 0;
      margin-right: 21px;

      &--about-us:last-child {
        margin: 0;
      }
    }

    &--contacts {
      margin-right: 29px;
    }
  }

  @media @desktop-widths {
    &--about-us {
      margin-right: 17px;
    }
  }
}

.social__icon {
  position: absolute;
  fill: @mark-color;
  top: 7px;
  left: 7px;
  width: 22px;
  height: 22px;

  &--contacts {
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
  }

  &--footer {
    fill: @font-page-footer-color;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;

    &:hover {
      opacity: 1;
    }
  }

  @media @desktop-widths {
    &--footer {
      fill: @font-normal-color;

      &:hover {
        fill: @font-normal-inner-color;
      }
    }
  }
}

.social__name {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: @bg-main-nav-active;

  &:hover {
    box-shadow: 2px 5px 10px rgba(255, 0, 67, 0.2);
  }

  &--contacts {
    width: 64px;
    height: 64px;
  }

  &--footer {
    width: 23px;
    height: 23px;
    border-radius: 0;
    background-color: @bg-page-footer;
  }

  @media @desktop-widths {
    &--footer {
      background-color: transparent;
    }
  }
}
