@font-circe: "Circe", "Arial", sans-serif;
@font-slogan: "IntroScriptR", "Arial", sans-serif;
@font-playfairdisplay: "PlayfairDisplay", "Times New Roman", serif;
@font-roboto: "Roboto", "Arial", sans-serif;

@font-normal-color: #2d2829;
@font-normal-inner-color: #000000;
@font-slogan-color: #32313d;
@font-btn-color: #ffffff;
@font-main-nav-color: #383838;
@font-order-color: #2f2f2f;
@font-instruction-color: #ffffff;
@font-page-footer-color: #ffffff;

@bg-main: #fbebea;
@bg-main-nav-active: #ffffff;
@bg-main-nav: #e7e7e7;
@bg-instruction: #e3353d;
@bg-page-footer: #898989;
@bg-btn: #f50049;
@mark-color: #f50049;

@border-main-nav: 1px solid #dedede;

@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1366px)";
