@font-circe: "Circe", "Arial", sans-serif;
@font-slogan: "IntroScriptR", "Arial", sans-serif;
@font-playfairdisplay: "PlayfairDisplay", "Times New Roman", serif;

@font-normal-color: #2d2829;
@font-btn-color: #ffffff;
@font-main-nav-color: #383838;
@font-main-nav-active-color: #000000;

@bg-main: #fbebea;
@bg-main-nav: #e7e7e7;
@bg-btn: #f50049;

@border-main-nav: 1px solid #dedede;

